.ant-form-extra {
	color: #ec5a09;
}

.ant-form-item-label > label {
	color: #ba4f28;
}

.form input, .form textarea {
	border-color: #ba4f28;
	color: #ec5a09;
	resize: none;
}

.form input::placeholder, .form textarea::placeholder {
	color: #f49e70;
	opacity: 1;
}

.form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
	color: #f49e70;
}

.form input::-ms-input-placeholder, .form textarea::-ms-input-placeholder {
	color: #f49e70;
}

.custom-form-items {
	margin-bottom: 3%;
}