.card-container {
	padding: 5%;
}

.card-container .ant-tabs-card .ant-tabs-content .ant-tabs-tabpane {
	background: transparent;
	padding: 1.5%;
	border-right: 1px solid #ba4f28;
	border-bottom: 1px solid #ba4f28;
	border-left: 1px solid #ba4f28;
}

.card-container .ant-tabs-card .ant-tabs-bar {
	border-color: #ba4f28;
	margin-bottom: 0;
}

.card-container .ant-tabs-card .ant-tabs-bar .ant-tabs-tab {
	border-color: transparent;
	background: transparent;
	color: #ec5a09;
	font-size: 2em !important;
	font-weight: 100;
	letter-spacing: 5px;
}

.card-container .ant-tabs-card .ant-tabs-bar .ant-tabs-tab:hover {
	color: #f49e70;
}

.card-container .ant-tabs-card .ant-tabs-bar .ant-tabs-tab-active {
	border-color: #ba4f28;
	border-bottom-color: #fff;
	background: transparent;
	color: #ba4f28;
}

.card-container .ant-card-cover img {
	width: 100% !important;
	height: 40vh !important;
	object-fit: cover !important;
}

.content {
	width: 100%;
	padding: 5% 5% 2% 5%;
}

.newsletter {
	color: #ec5a09;
	font-size: 2em !important;
	font-weight: 100;
	letter-spacing: 5px;
	text-align: center;
}

.newsletter-inp {
	width: 40% !important;
	border-top-left-radius: 50px !important;
	border-bottom-left-radius: 50px !important;
	background-color: transparent;
	border-color: #f49e70;
	color: #e45722;
	padding: 0 1.5vw;
	border-right: none;
}

.newsletter-inp::placeholder {
	color: #f49e70;
	opacity: 1;
}

.newsletter-inp:-ms-input-placeholder {
	color: #f49e70;
}

.newsletter-inp::-ms-input-placeholder {
	color: #f49e70;
}

.newsletter-btn {
	border-top-right-radius: 50px !important;
	border-bottom-right-radius: 50px !important;
	border-color: #f49e70;
	color: #f49e70;
	letter-spacing: 3px;
	border-left: none;
}

.newsletter-btn:hover {
	background-color: #e45722;
	color: white;
}

.newsletter-inp:focus {
	width: 40vmax !important;
	box-shadow: none;
	border-right: none;
}

.newsletter-inp:hover {
	border-right: none;
}

.scroll-bg-1 {
	width: 100%;
	height: 130vh;
	background-image: url('../../images/bg-scroll.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 10% 0 !important;
}

.img-text {
	position: absolute;
	text-align: center;
}

.img-text:hover {
	opacity: 0.1;
}

.quote-container {
	width: 100%;
	height: 50vh;
	display: block;
	align-items: center;
	justify-content: center;
}

.quote {
	width: 55%;
	height: 50%;
	text-align: center;
	margin: 10% auto;
}

.embed-responsive {
	position: relative;
	display: block;
	width: 80%;
	padding: 0;
	overflow: hidden;
}

.embed-responsive::before {
	display: block;
	content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.embed-responsive-16by9::before {
	padding-top: 56.25%;
}

.scroll-bg-2 {
	width: 100%;
	height: 130vh;
	background-image: url('../../images/bg-scroll2.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content:center;
	position: relative;
	margin-top: 10%;
}



@media (max-width: 768px) {
	.card-container {
		padding: 5% 0;
	}

	.card-container .ant-tabs-card .ant-tabs-bar .ant-tabs-tab {
		font-size: 1.5em !important;
	}

	.card-container .ant-tabs-card .ant-tabs-content .ant-tabs-tabpane {
		padding: 2% 0;
	}

	.newsletter-inp {
		padding-left: 5vw;
		width:50% !important;
	}

	.newsletter-inp: focus {
		width: 60% !important;
	}

	.scroll-bg-1, .scroll-bg-2 {
		height: 50vh;
	}

	.img-text a {
		font-size: 2em !important;
	}

	.img-text h3 {
		font-size: 1em !important;
	}

	.quote-container {
		height: 70vh;
	}

	.quote {
		width: 90%;
		height: 80%;
		padding: 5% 0;
	}

	.embed-responsive {
		width: 100%;
	}
}